header
{
    background-color: lightgray;
    padding: 20px 0;
}

.caja
{
    width: 940px;
    position: relative;
    margin: 0 auto;
    //porque la mayoría de páginas ocupan resolución de 1280px
}
nav
{
    position: absolute;
    top: 110px;
    right: 2px;

}

nav li
{
    display: inline;
}

a
{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 0 15px;
    font-size: 22px;
    font-weight: bold;
    

}

a:hover
{
    color:rgb(143, 135, 31);
    text-decoration: underline;
    
}

.combos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
   
    
}

.combos li:hover 
{
    border-color:rgb(143, 135, 31);
    border-width: 4px;
    
}

.combos li:hover h2
{
 font-size: 33px;
}



.combos li:active
{
    border-color: green;
}

.combos
{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    border: 5px dotted rgb(54, 168, 206);
    border-top: none;
}

.combos h2
{
    font-weight: bold;
    font-size: 30px;
    
}
.precio
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px ;
}

footer
{
    text-align: center;
    background-color: rgba(27, 26, 26, 0.753);
    padding:40px;
    margin-top: 50px;

 
}

.derechos
{
    color: white;
    padding-bottom: 20px;
    font-size: 15px;
}